In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv('G:\\Smart Xeshi\\CronaVirus\\Data.csv')
df

      Fever  BodyPain  Age  RunyNose  DifficultyBreath  InfactionProb
0       102         1   53         1                 0              0
1       102         0   28         0                 0              0
2       104         0   37         1                 1              1
3       102         0   28         0                 0              0
4       104         1    6         0                -1              1
5       102         0   28         0                 0              0
6       104         0   66         1                -1              1
7       102         0   28         0                 0              0
8       104         0   82         0                 0              0
9       102         0   28         0                 0              0
10      103         0   87         0                 1              1
11      102         0   28         0                 0              0
12      103         1   64         1                 0              1
13      102         0   28         0                 0              0
14      103         1   21         1                -1              0
15      102         0   28         0                 0              0
16      100         0   21         1                 1              1
17      102         0   28         0                 0              0
18       98         1   70         0                 1              1
19      102         0   28         0                 0              0
20      103         0   88         1                 0              0
21      102         0   28         0                 0              0
22      100         1   59         0                 1              1
23      102         0   28         0                 0              0
24      102         0   75         0                 1              1
25      102         0   28         0                 0              0
26      103         0    3         1                 1              1
27      102         0   28         0                 0              0
28      101         0    3         0                -1              1
29      102         0   28         0                 0              0
...     ...       ...  ...       ...               ...            ...
2286    102         0   96         1                -1              0
2287    102         0   28         0                 0              0
2288    101         1   67         1                -1              0
2289    102         0   28         0                 0              0
2290     98         1   68         0                 0              0
2291    102         0   28         0                 0              0
2292     99         1   44         0                 0              1
2293    102         0   28         0                 0              0
2294    100         0   22         0                -1              1
2295    102         0   28         0                 0              0
2296    103         1   64         0                 0              1
2297    102         0   28         0                 0              0
2298    101         0   43         0                 0              1
2299    102         0   28         0                 0              0
2300    102         1   52         0                 1              1
2301    102         0   28         0                 0              0
2302    100         0   39         0                 0              0
2303    102         0   28         0                 0              0
2304    100         1   75         1                -1              0
2305    102         0   28         0                 0              0
2306    104         1   51         1                 1              0
2307    102         0   28         0                 0              0
2308    104         1   43         1                 1              1
2309    102         0   28         0                 0              0
2310    102         1   26         1                -1              0
2311    102         0   28         0                 0              0
2312    104         0   98         0                 0              0
2313    102         0   28         0                 0              0
2314    100         1   67         1                -1              1
2315    102         0   28         0                 0              0

[2316 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2316 entries, 0 to 2315
Data columns (total 6 columns):
Fever               2316 non-null int64
BodyPain            2316 non-null int64
Age                 2316 non-null int64
RunyNose            2316 non-null int64
DifficultyBreath    2316 non-null int64
InfactionProb       2316 non-null int64
dtypes: int64(6)
memory usage: 108.6 KB

In [5]:
df['DifficultyBreath'].value_counts()

 0    1542
-1     397
 1     377
Name: DifficultyBreath, dtype: int64

In [6]:
df.describe()

,Fever,BodyPain,Age,RunyNose,DifficultyBreath,InfactionProb
count,2316.000000,2316.000000,2316.000000,2316.000000,2316.000000,2316.000000
mean,101.559154,0.251295,38.952504,0.253022,-0.008636,0.249136
std,1.474169,0.433852,23.053275,0.434838,0.578158,0.432606
min,98.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,101.000000,0.000000,28.000000,0.000000,0.000000,0.000000
50%,102.000000,0.000000,28.000000,0.000000,0.000000,0.000000
75%,102.000000,1.000000,49.250000,1.000000,0.000000,0.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000

In [7]:
def Data_split (Data ,Ratio):
    np.random.seed(42)
    shuffeld = np.random.permutation(len(Data))
    test_size = int(len(Data)*Ratio)
    test_induce = shuffeld[ : test_size]
    train_induce = shuffeld[test_size : ]
    return df.iloc[test_induce],df.iloc[train_induce]

In [8]:
train,test= Data_split(df , 0.2)

In [9]:
train.head()

     Fever  BodyPain  Age  RunyNose  DifficultyBreath  InfactionProb
932     99         0   18         0                -1              0
548    104         1   30         1                 1              0
100     98         0   92         1                 0              0
836    100         0   92         0                 1              0
251    102         0   28         0                 0              0

In [10]:
test.head()

      Fever  BodyPain  Age  RunyNose  DifficultyBreath  InfactionProb
1451    102         0   28         0                 0              0
1789    102         0   28         0                 0              0
1826    104         1   98         0                 1              0
2106     99         1   41         1                -1              1
1646    103         0   91         0                 0              1

In [38]:
import numpy as np

In [39]:
X_train = train[['Fever','BodyPain','Age','RunyNose','DifficultyBreath']]
X_test = test [['Fever','BodyPain','Age','RunyNose','DifficultyBreath']]
Y_train = train[ ['InfactionProb'] ]
Y_test = test[ ['InfactionProb'] ]

In [40]:
LR =LogisticRegression(random_state=0)
LR.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [41]:
print(LR.predict([[104,1,66,1,0]]))

[1]

In [49]:
InFactionProbabolity= LR.predict_proba([[100,1,22,1,1]])[0][1]

In [50]:
InFactionProbabolity

0.5523710718094167

In [44]:
df.shape

(2316, 6)